* {
    margin: 0;
    padding: 0;
}

form{
    text-align: center;
}

#conteudo-form {
    margin: 0 auto;
    width: 500px;
    height: 100%;
    text-align: center;
    margin-top: 30px;
    border: 3px solid black;
    visibility: hidden;
}

input, textarea {
    width: 300px;
    margin-bottom: 5px;
}

p:first-child {
    font-size: 60px;
}

p:nth-child(2) {
    font-size: 30px;
    margin-top: 10px;
    font-style: italic;
}

p:nth-child(3) {
    text-align: justify;
    text-justify: inter-word;
    font-size: 20px;
    margin: 20px 20px 0;
}

img {
    width: 350px;
    height: 350px;
    margin: 5px auto;
}