* {
    margin: 0;
    padding: 0;
    color: white;
}
.tudo {
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    
}

#primeiro {
    display: flex;
    justify-content: space-evenly;
    height: 50px;
}

#header {
    background-color: #2ecc40;
    display: flex;
    flex-grow: 1;
    justify-content: space-around; 
    align-items: center;

}

#menu {
    background-color: #FFDC00;
    flex-grow: 3;
    display: flex;
    justify-content: space-around; 
    align-items: center;
}

#content1 {
    background-color: #F012BE;
    height: 600px; 
    display: flex;
    justify-content: space-around; 
    align-items: center; 
}

#segundo {
    display: flex;
    height: 250px;
    justify-content: space-between;
}

#content2 {
    background-color: #0074D9;
    flex-grow: 2;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    
}

#content3 {
    background-color: white;
    flex-grow: .5;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    
}

#terceiro {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#image {
    background-color: #FF4136;
    flex-grow: 1;
    display: flex;
    justify-content: space-around; 
    align-items: center;
}

#extra {
    background-color: #01FF70;
    flex-grow: 1;
    display: flex;
    justify-content: space-around; 
    align-items: center;
}

#quarto {
    display: flex;
    flex-direction: column;
}

#footer {
    display: flex;
    background-color: #B10DC9;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    height: 44px;
}